<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Students Department Selection</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h1>Student Registration Form</h1>
    <form action="/student/create" method="POST" class="ui form">
      <label for="name">Name:</label>
      <input type="text" id="name" name="Name" required/><br /><br />
      <label for="rollno">Roll No:</label>
      <input type="text" id="rollno" name="Rollno" required/><br /><br />
      <label for="dept">Department:</label>
      <select id="dept" name="Elective" required>
        <option value="MEDICINE">MEDICINE</option>
        <option value="PAEDIATRICS">
          PAEDIATRICS
        </option>
        <option value="DERMATOLOGY">
          DERMATOLOGY
        </option>
        <option value="PSYCHIATRY">
          PSYCHIATRY
        </option>
        <option value="SURGERY">SURGERY</option>
        <option value="ORTHOPEDICS">
          ORTHOPEDICS
        </option>
        <option value="RADIO DIAGNOSIS">
          RADIO DIAGNOSIS
        </option>
        <option value="ANAESTHESIA">ANAESTHESIA</option>
        <option value="NEPHROLOGY">
          NEPHROLOGY
        </option>
        <option value="CARDIOLOGY">
          CARDIOLOGY
        </option>
        <option value="RESPIRATORY MEDICINE">
          RESPIRATORY MEDICINE
        </option>
        <option value="ENT">ENT</option>
        <option value="OG">
          OG
        </option>
        <option value="EMERGENCY MEDICINE">
          EMERGENCY MEDICINE
        </option>
        <option value="NEUROSURGERY">
          NEUROSURGERY
        </option>
        <option value="OPHTHALMOLOGY">OPHTHALMOLOGY</option>
       
        </select
      ><br /><br />
      <div class="col d-flex justify-content-end mt-4">
        <button class="btn text-white bg-primary-custom rounded-3">
          Submit
        </button>
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>Department</th>
          <th>Available Seats</th>
        </tr>
      </thead>
      <%electives.forEach((blog)=> {%>
      <tbody id="availableSeatsTableBody">
        <tr data-dept="NCD">
          <td><%=blog.Elective%></td>
          <td><%=blog.Seats%></td>
        </tr>
      </tbody>
      <% })%>
    </table>
  </body>
</html>
